
<div class="header">
    <h1 align="center">Precio</h1>
    <h2 align="center" >Adquiere uno de nuestros planes en promoción.</h2>

    <div class="container mt-5">
       
        <div class="payment-option mb-4">
        <h2 class="card-title" style="background-color: gray;">Libre</h2>
        <p class="card-price" style="font-size: 50px;">$0/mes</p>
      <p class="card-text">10 usuarios incluidos</p>
      <p class="card-text">2 GB de almacenamiento</p>
      <p class="card-text">Soporte de correo electrónico</p>
      <p class="card-text">Acceso al centro de ayuda</p>
      <button style="background-color:white" >Registrate gratis</button>   
        </div>

        <div class="payment-option mb-4">
            <h2 class="card-title" style="background-color: gray;">Pro</h2>
            <p class="card-price" style="font-size: 50px;" >$15/mes</p>
            <p class="card-text">20 usuarios incluidos</p>
            <p class="card-text">10 GB de almacenamiento</p> 
            <p class="card-text">Soporte de correo electrónico</p>
            <p class="card-text">Acceso al centro de ayuda</p>
            <button style="background-color:blue">Empezar</button>
          </div>

    
        <div class="payment-option mb-4">
            <h2 class="card-title" style="background-color: gray;" >Empresa</h2>
            <p class="card-price" style="font-size: 50px;">$29/mes</p>
            <p class="card-text">30 usuarios incluidos</p>
            <p class="card-text">15 GB de almacenamiento</p>
            <p class="card-text">Soporte de correo electrónico</p>
            <p class="card-text">Acceso al centro de ayuda</p>
            <button style="background-color:blue">Contáctenos</button>
          </div>




  