h1{
  font-size: 60px;
}
h2{
    font-size: 30px;
  }
button {
    font-size: 20px;
    width: 150px;
    height: 100px;
  }
 
 .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   
  }
  .payment-option {
    width: 300px;
    margin: 50px;
    text-align: left;
    padding: 20px;

  }
 